

.description__panel {
    color: #ffff;
    font-weight: 700;
    width: 100%;
    padding-top: 30px;
  }
  
  .description__header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    background-color: #ff6060;
    padding: 6px 15px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .description__content {
    max-height: 0;
    overflow: hidden;
    margin: 0px;
    padding: 0 15px;
    border-radius: 8px;
    color: #000;
    background-color: #f6f6f6;
    font-weight: 400;
    top: -4px;
    z-index: -1;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  }
  
  .description__content.open {
    max-height: 200px; 
    padding: 15px;
    z-index: 1;
  }