

.apartment__header  {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start
}

@media screen and (max-width: 768px) {
    .apartment__header {
        flex-direction: column;
    }

    .apartment__owner{
        width: 100%;
        align-items: center;
       flex-wrap: wrap;
        flex-direction: row-reverse; 
        justify-content: space-between;
    }  
}
