.apartment {
    background:  rgba(255, 96, 96, 1) linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    display: grid;
    align-items: end;
    min-width: 180px;
    height: 350px;
   
    margin-bottom: 15px; 
    position: relative;
}
 .apartment img {
    
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(0.8);
 }

.apartment__subtitle{
    width: 100%;
    padding: 10px;
    color: white;
    position: absolute;

}

@media screen and (width <= 768px) {
    .apartment {
     flex-basis:100%;
     min-width: 180px;
    height: 250px;
    }

    .apartment img {
        width: 330px;
        height: 250px;
     }
 }
