

.apartment__header  {
    display: flex;
    justify-content: space-between;
 
}

.Apartment-Page h1{
    font-weight: 500;
    color: #FF6060;
    margin-bottom: 0px;
    margin-block: 0;
   
}
.Apartment-Page h2{
    font-weight: 600;
    font-size: medium;
    margin-bottom: 15px;
    margin-top: 0px;
}


.Apartment__tag{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    gap: 5px;
}

.Apartment__tag span {
    text-align: center;
    background-color:  #FF6060;
    color: #ffff;
    font-size: small;
    font-weight: 500;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 8px;  
}

.apartment__owner{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF6060;
   
    padding-bottom: 15px;
}
.apartment__owner h3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: 500;
    font-size: 18px;
    margin-block: 0;

}

.apartment__owner__details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.apartment__owner__badge img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color:#C4C4C4;
   
}

.apartment__owner__stars {
    display: flex;
    justify-content: end;
    font-size: 35px; 
    position: relative;
    color: #E3E3E3;
    
}

.apartment__owner__stars .on{
    color: #FF6060;
}
@media screen and (max-width: 768px) {
    .apartment__header {
        flex-direction: column;
    }
    .apartment__owner{
        flex-direction: row-reverse; 
        justify-content: space-between;
    }
}