.navbar{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 20px 0px 20px 0px;
}

a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.navbar a:hover{
    text-decoration: underline;
}

.navbar a.active{
    text-decoration: underline;
}

.navbar__logo img{
    width: 120px;
}

.navbar *:first-child{
    margin-right: auto;
}